$light: #ffffff;
$dark: #121212;
$primary: #39a796;
$text: #a0a0a1;
$bg-card-dark: #1e1e1e;
$btn-primary-bg: rgba(79, 195, 177, 0.3);
$btn-secondary: #e75950;
$btn-secondary-bg: rgba(255, 111, 102, 0.3);
$btn-bg-dark: #333333;
